/* LayFooter */

.LayFooter {
    width: 100%;
    height: 116px;
    display: block;
    background: url(https://court-static.korona-tennis.ru/img/bottom.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-color: #D0CDC5;
}
.LayFooter__main {
    margin-top: 20px;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 320px;
}